@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none !important; }

.modal.dropdown-inputs {
  text-align: center;
  padding: 0 !important; }

.modal.dropdown-inputs:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog.dropdown-inputs {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: auto; }

/***********************************custom-theme-elements****************************/
/************************************************************************************/
.small-blue-btn {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  background: #2889c2;
  padding: 5px 40px; }
  .small-blue-btn:hover {
    color: #FFFFFF; }

.small-yellow-btn {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  background: #F79A1F;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none; }
  .small-yellow-btn:hover, .small-yellow-btn:visited {
    color: #FFFFFF;
    text-decoration: none; }

.model.not-available .small-yellow-btn {
  color: #b2b3b4;
  background: #EEEEEE;
  pointer-events: none;
  text-decoration: none; }
  .model.not-available .small-yellow-btn:hover, .model.not-available .small-yellow-btn:visited {
    background-color: #EEEEEE;
    color: #b2b3b3; }

.small-gray-btn {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 25px;
  color: #FFFFFF;
  background: #2D2D2D;
  border: none;
  outline: none; }
  .small-gray-btn:hover {
    color: #FFFFFF;
    text-decoration: none; }

.big-yellow-btn {
  color: #FFFFFF;
  background: #F79A1F;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 300;
  outline: none;
  border: none;
  width: 250px;
  text-align: center;
  text-decoration: none !important; }
  .big-yellow-btn:hover, .big-yellow-btn:visited {
    color: #FFFFFF;
    text-decoration: none !important; }
  @media only screen and (max-width: 460px) {
    .big-yellow-btn {
      width: 100%; } }

.big-yellow-btn.disable {
  background-color: #2D2D2D;
  pointer-events: none; }

.db {
  display: block; }

/************************************header-navigation*******************************/
/************************************************************************************/
.navbar-nav {
  font-size: 16px;
  font-weight: 300; }

.navbar-default {
  background: #2D2D2D; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: #191919; }

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important; }

.navbar-brand {
  padding: 5px;
  margin-right: 30px; }
  .navbar-brand img {
    height: 50px; }

.basket-fa i, .basket-fa-xs i, .fa-user {
  color: #FFFFFF; }

.basket-fa-xs, .user-fa-xs {
  float: right;
  padding: 9px 10px;
  margin: 8px 0; }

.sell-btn {
  text-transform: uppercase;
  background: #2889c2; }
  .sell-btn:hover {
    text-decoration: none; }

/*****button-sandwich*******/
.navbar-header .navbar-toggle {
  border: none; }
  .navbar-header .navbar-toggle .fa-times {
    color: #808080; }
  .navbar-header .navbar-toggle .fa-bars {
    color: #EEEEEE; }

.navbar-header .navbar-toggle[aria-expanded="false"] .fa-times {
  display: none; }

.navbar-header .navbar-toggle[aria-expanded="true"] .fa-bars {
  display: none; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #232323; }

/*************multi-column-menu***********/
.dropdown-menu {
  min-width: 150px;
  left: -100px;
  padding: 0;
  font-size: 16px;
  background-color: #232323; }
  .dropdown-menu li a {
    color: #FFFFFF;
    padding: 10px 15px;
    font-weight: 300; }
  .dropdown-menu li a:hover {
    color: #FFFFFF;
    background-color: #2889c2; }

.dropdown .login-user ~ .menu-new-user {
  display: none; }

.dropdown .new-user ~ .menu-login-user {
  display: none; }

.login-user i {
  color: #FFFFFF; }

.signin {
  background-color: #F79A1F; }
  .signin a {
    font-weight: 600 !important; }

.dropdown-menu.columns-2 {
  min-width: 400px; }

.dropdown-menu.columns-3 {
  min-width: 600px; }

.multi-column-dropdown {
  list-style: none; }

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #FFFFFF;
  white-space: normal; }

.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2889c2; }

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden; }
    .dropdown-menu.multi-column li a {
      padding-left: 30px; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      background-color: #2889c2;
      color: #FFFFFF; } }
@media only screen and (max-width: 460px) {
  header .fa-2x {
    font-size: 1.33333333em; }

  .navbar-brand img {
    height: 40px; } }
/******************end-multi-column-menu******/
/*****************************offer-first-page***************************************/
/************************************************************************************/
.offer-first-page h2 {
  color: #2889c2;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 0; }
.offer-first-page p {
  font-size: 18px; }
.offer-first-page ul {
  margin: 15px 0;
  font-size: 18px;
  list-style-position: inside; }
  .offer-first-page ul li:before {
    content: "\2022";
    margin-right: 5px; }

/*****************************our-products-main-page*********************************/
/************************************************************************************/
.our-products {
  padding-top: 20px; }
  .our-products h1 {
    font-size: 36px;
    font-weight: 700;
    color: #2889c2;
    text-align: center;
    padding-bottom: 20px; }
  .our-products li {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    background-color: #EEEEEE; }
    .our-products li .wrap-img {
      height: 200px; }
      .our-products li .wrap-img img {
        width: auto;
        max-height: 100%;
        display: block;
        margin: 0 auto; }
    .our-products li .small-blue-btn {
      margin-top: 80px;
      display: inline-block;
      font-size: 30px;
      width: 150px;
      text-align: center;
      padding: 5px 0; }
  @media only screen and (max-width: 460px) {
    .our-products li .small-blue-btn {
      font-size: 20px;
      width: 120px; } }

/***********************************advantages***************************************/
/************************************************************************************/
.reward {
  padding: 15px 0;
  text-align: center; }

.advantages {
  background: #EEEEEE;
  padding: 25px 0; }
  .advantages h2 {
    text-transform: uppercase;
    color: #2889c2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px; }
  .advantages ul li {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
    text-align: center; }
    .advantages ul li img {
      height: 80px;
      width: auto; }
    .advantages ul li p {
      font-size: 18px;
      padding: 5px 0; }
  @media only screen and (max-width: 460px) {
    .advantages ul li {
      min-height: 155px; } }

/****************************************home-iphone*********************************/
/************************************************************************************/
.photo-product-models {
  padding-top: 110px;
  text-align: center; }
  .photo-product-models img {
    max-width: 90%;
    height: auto; }

.select-model-product h1 {
  font-size: 35px;
  color: #2889c2;
  margin: 20px 0;
  text-align: center; }
.select-model-product .col-xs-6, .select-model-product .col-xs-4 {
  padding-right: 2px;
  padding-left: 2px; }

.list-models-products li {
  padding: 5px 0;
  text-align: center; }
  .list-models-products li a {
    font-size: 22px;
    color: #2D2D2D;
    background: #EEEEEE;
    padding: 20px 0;
    display: block; }
.list-models-products .not-available a {
  color: #b2b3b3;
  pointer-events: none; }
  .list-models-products .not-available a:hover {
    background-color: #EEEEEE;
    color: #b2b3b3; }
@media only screen and (max-width: 460px) {
  .list-models-products li a {
    font-size: 15px; } }

.our-advantages {
  padding-top: 30px; }
  .our-advantages .wrap-section {
    background: #EEEEEE;
    padding: 20px; }
  .our-advantages h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px; }
  .our-advantages li {
    font-size: 15px;
    padding: 60px 0 20px 0;
    text-align: center; }
  .our-advantages .advantage01 {
    background: url("../img/advantage01.png") 50% 2% no-repeat;
    background-size: 50px; }
  .our-advantages .advantage02 {
    background: url("../img/advantage02.png") 50% 2% no-repeat;
    background-size: 60px; }
  .our-advantages .advantage03 {
    background: url("../img/advantage03.png") 50% 2% no-repeat;
    background-size: 30px; }
  .our-advantages .advantage04 {
    background: url("../img/advantage04.png") 50% 2% no-repeat;
    background-size: 50px; }

/**********************************iphone6*******************************************/
/************************************************************************************/
.version-product h1 {
  background: url("../img/bg-iphone6.jpg") no-repeat 50% 0%;
  background-size: cover;
  padding: 20px 20px 40px 20px;
  margin-bottom: 50px;
  font-size: 44px;
  color: #2889c2;
  font-weight: 600; }
  @media only screen and (max-width: 460px) {
    .version-product h1 {
      font-size: 26px;
      padding: 5px 5px 20px 5px; } }
.version-product .model.not-available a {
  pointer-events: none; }
.version-product .model.col-xs-3 {
  padding-left: 5px;
  padding-right: 5px; }
.version-product .model .wrap-img-model {
  position: relative;
  display: block;
  height: 140px; }
  .version-product .model .wrap-img-model img {
    width: auto;
    height: 100%; }
  .version-product .model .wrap-img-model span {
    position: absolute;
    top: -38px;
    right: 17px;
    color: #FFFFFF;
    background: #2889c2;
    border-radius: 50%;
    width: 76px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600; }
.version-product .model .small-yellow-btn {
  margin-top: 20px;
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block; }
@media only screen and (max-width: 460px) {
  .version-product .model.col-xs-4 {
    padding-left: 5px;
    padding-right: 5px; }
    .version-product .model.col-xs-4 .wrap-img-model {
      height: 90px; }
      .version-product .model.col-xs-4 .wrap-img-model img {
        width: auto;
        height: 100%; }
      .version-product .model.col-xs-4 .wrap-img-model span {
        top: -20px;
        right: 50%;
        margin-right: -50px;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 17px; }
    .version-product .model.col-xs-4 .small-yellow-btn {
      padding: 5px; }
  .version-product .model.col-xs-3 .wrap-img-model {
    height: 75px; }
    .version-product .model.col-xs-3 .wrap-img-model span {
      top: -20px;
      right: -8px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 14px; }
  .version-product .model.col-xs-3 .small-yellow-btn {
    padding: 3px;
    font-size: 14px; } }

/***************************************thanks-message*******************************/
/************************************************************************************/
.thanks-message .wrap {
  margin: 30px 0;
  border: solid 3px #2889c2;
  text-align: center;
  padding: 0 10px; }
.thanks-message h1 {
  font-size: 65px;
  font-weight: 600; }
.thanks-message .fa-check {
  color: #2db563; }
.thanks-message p {
  font-size: 16px;
  font-weight: 300; }
.thanks-message .compliment, .thanks-message .gift {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400; }
.thanks-message .gift {
  padding-top: 50px; }
  .thanks-message .gift span {
    color: #2188c4; }
.thanks-message .compliment {
  padding: 10px 0; }
.thanks-message .social-link-thanks {
  padding: 50px 0; }
  .thanks-message .social-link-thanks li {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center; }
    .thanks-message .social-link-thanks li a {
      display: block; }
    .thanks-message .social-link-thanks li i {
      line-height: 50px;
      text-align: center;
      color: #FFFFFF; }
  .thanks-message .social-link-thanks .facebook {
    background: #3660a0; }
  .thanks-message .social-link-thanks .twitter {
    background: #2daae1; }
  .thanks-message .social-link-thanks .linkedin {
    background: #096c9b; }
  .thanks-message .social-link-thanks .youtube {
    background: #ee3537; }
@media only screen and (max-width: 460px) {
  .thanks-message h1 {
    font-size: 45px; }
  .thanks-message p {
    font-size: 15px; }
  .thanks-message .social-link-thanks li {
    margin: 0; } }

/*********************************************product_page***************************/
/************************************************************************************/
.product-section {
  /*****colors******/
  /*****end-colors****/ }
  .product-section .slider-product-page li {
    height: 225px; }
    .product-section .slider-product-page li img {
      margin: 0 auto;
      height: 100%;
      width: auto; }
  .product-section .bx-viewport {
    border: none;
    box-shadow: none; }
  .product-section h1 {
    font-size: 22px;
    color: #494849;
    font-weight: 600;
    padding-top: 10px; }
  .product-section .description-product-model {
    font-size: 15px;
    font-weight: 300; }
  .product-section .popup-color-btn {
    width: 100%;
    display: block;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 5px 15px;
    color: #231f20; }
    .product-section .popup-color-btn i {
      float: right;
      line-height: 25px; }
  .product-section .wrap-selection[disabled] .label-condition {
    color: #dddcdc; }
  .product-section .wrap-selection[disabled] .radio-custom-btn-label, .product-section .wrap-selection[disabled] .radio-custom-label, .product-section .wrap-selection[disabled] .radio-custom-input {
    color: #FFFFFF;
    background-color: #dddcdc;
    border: none;
    pointer-events: none; }
  .product-section .label-condition {
    font-size: 19px;
    margin: 10px 0; }
    @media only screen and (max-width: 460px) {
      .product-section .label-condition {
        font-size: 17px; } }
    .product-section .label-condition .link-information-condition {
      font-size: 12px;
      text-decoration: underline !important; }
  .product-section .wrap-color-inputs {
    vertical-align: middle; }
  .product-section .selected-color, .product-section .selected-condition, .product-section .selected-number-product, .product-section .selected-wificell, .product-section .selected-size-watch {
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; }
  .product-section .radio-custom-input:not(checked) {
    position: absolute;
    opacity: 0; }
  .product-section .radio-custom-input:not(checked) + label {
    color: #808080; }
  .product-section .radio-custom-input:checked + label {
    background-color: #2D2D2D; }
  .product-section .wrap-input {
    margin-bottom: 10px;
    position: relative;
    padding: 4px 0; }
    .product-section .wrap-input:last-child {
      margin-bottom: 0; }
    .product-section .wrap-input .radio-custom-label {
      position: absolute;
      content: "";
      left: 0;
      top: 6px;
      margin: auto;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 3px;
      border: solid 2px #2D2D2D; }
    .product-section .wrap-input .label-dropdown-input {
      font-weight: 400;
      font-size: 19px;
      display: flex;
      width: 100%;
      padding-left: 40px; }
      .product-section .wrap-input .label-dropdown-input .text-label {
        margin-left: 0;
        margin-right: 20px; }
      .product-section .wrap-input .label-dropdown-input .color-label {
        width: 60px;
        height: 20px;
        display: inline-block;
        margin-right: 0; }
      .product-section .wrap-input .label-dropdown-input span {
        margin: auto; }
  .product-section .header-popup-dropdown {
    padding: 10px 10px 0 0;
    border: none; }
  .product-section label[for="grigio-siderale"] .color-label {
    background: #606061; }
  .product-section label[for="argento"] .color-label {
    background: #dddfde; }
  .product-section label[for="oro"] .color-label {
    background: #e3d0b9; }
  .product-section label[for="ororosa"] .color-label {
    background: #eecdbd; }
  .product-section label[for="sport-bianco"] .color-label {
    background: #f5f6f7; }
  .product-section label[for="rosa"] .color-label {
    background: #f26d6f; }
  .product-section label[for="bianco"] .color-label {
    background: #FFFFFF;
    border: solid 1px #808080; }
  .product-section label[for="nero"] .color-label {
    background: #000000; }
  .product-section label[for="sport-nero"] .color-label {
    background: url("../img/bg-clock04.png") no-repeat 50% 50%; }
  .product-section label[for="classicnero"] .color-label {
    background: url("../img/bg-clock01.png") no-repeat 50% 50%; }
  .product-section label[for="pellenera"] .color-label {
    background: url("../img/bg-clock02.png") no-repeat 50% 50%; }
  .product-section label[for="modernblunotte"] .color-label {
    background: url("../img/bg-clock03.png") no-repeat 50% 50%; }
  .product-section label[for="modernnero"] .color-label {
    background: url("../img/bg-clock04.png") no-repeat 50% 50%; }
  .product-section label[for="albicocca"] .color-label {
    background: #f48b7c; }
  .product-section label[for="verde"] .color-label {
    background: #c4d93d; }
  .product-section label[for="azzurro"] .color-label {
    background: #77c4ed; }
  .product-section label[for="giallo"] .color-label {
    background: #fdf16f; }
  .product-section .buy-btn {
    text-transform: uppercase;
    border-radius: 7px;
    color: #FFFFFF;
    background: #F79A1F;
    font-size: 22px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border: none;
    outline: none; }
  .product-section .buy-btn[disabled] {
    background-color: #dcdcdc; }
  .product-section .wrap-img-product {
    text-align: center; }
    .product-section .wrap-img-product img {
      width: 90%;
      height: auto;
      max-width: 200px; }

/*******************/
.price-product {
  font-weight: 600;
  font-size: 28px !important;
  padding: 10px 10px 30px 10px;
  line-height: 16px; }
  .price-product .old-price {
    display: none;
    font-size: 16px;
    font-weight: 300; }
    .price-product .old-price .price {
      display: inline-block;
      font-weight: 300;
      color: #222222; }

.price-product.sale {
  color: red; }
  .price-product.sale .old-price {
    display: inline; }
    .price-product.sale .old-price:last-child {
      display: block; }

/*****************/
/**************************accordion-product-page********************/
.accordion-product-page {
  padding-top: 30px; }
  .accordion-product-page .panel-default > .panel-heading {
    text-transform: uppercase;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 0; }
    .accordion-product-page .panel-default > .panel-heading a {
      font-size: 15px;
      display: block;
      padding: 10px; }
    .accordion-product-page .panel-default > .panel-heading i {
      float: right; }
    .accordion-product-page .panel-default > .panel-heading .panel-title a[aria-expanded="true"] .fa-plus {
      display: none; }
    .accordion-product-page .panel-default > .panel-heading .panel-title a[aria-expanded="false"] .fa-minus {
      display: none; }
  .accordion-product-page .panel-body {
    padding: 10px; }
  .accordion-product-page .panel-group .panel {
    border: none; }
  .accordion-product-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
    background-color: #EEEEEE;
    margin-top: 10px;
    border: none; }
  .accordion-product-page .list-description-product {
    font-weight: 300;
    font-size: 15px; }
    .accordion-product-page .list-description-product li {
      margin-bottom: 10px; }
      .accordion-product-page .list-description-product li span {
        font-weight: 400; }
  .accordion-product-page .our-advantages {
    padding: 0; }
    .accordion-product-page .our-advantages h2 {
      font-size: 20px; }
    .accordion-product-page .our-advantages li {
      padding: 60px 0 20px 0;
      font-size: 15px; }

.wrap-selection[disabled] .popup-color-btn {
  pointer-events: none;
  color: #dddcdc; }

/*****************************************breadcrumbs**cart01************************/
/************************************************************************************/
.breadcrumbs {
  text-align: center; }
  .breadcrumbs p {
    font-size: 18px;
    margin-bottom: 10px; }
    .breadcrumbs p .active {
      color: #F79A1F; }
    .breadcrumbs p .stage span {
      font-size: 34px; }
  @media only screen and (max-width: 460px) {
    .breadcrumbs p {
      font-size: 12px; }
      .breadcrumbs p .stage span {
        font-size: 20px; } }

.product-basket {
  font-size: 18px;
  font-weight: 300; }
  .product-basket h2 {
    color: #FFFFFF;
    background: #2D2D2D;
    font-size: 28px;
    margin-bottom: 10px;
    padding: 5px 15px; }
  .product-basket form {
    background: #EEEEEE;
    padding: 10px 10px; }
  .product-basket .list-product li {
    margin-bottom: 20px;
    display: flex; }
    .product-basket .list-product li .name-product {
      width: 75%;
      float: left;
      margin: auto; }
      .product-basket .list-product li .name-product a {
        color: #2D2D2D; }
        .product-basket .list-product li .name-product a:hover {
          text-decoration: none; }
    .product-basket .list-product li .price {
      font-weight: 400;
      width: 25%;
      float: left;
      text-align: right;
      margin: auto; }
  .product-basket .delivery-price, .product-basket .total-price {
    margin-bottom: 10px;
    font-weight: 400; }
  .product-basket .text-delivery, .product-basket .text-total-price {
    font-weight: 300;
    width: 75%;
    float: left; }
  .product-basket .price-delivery, .product-basket .sum-total-price {
    width: 25%;
    float: left;
    text-align: right; }
  .product-basket .promoCode {
    margin-top: 20px; }
    .product-basket .promoCode label {
      width: 100%; }
    .product-basket .promoCode input {
      border: none;
      outline: none;
      margin: 10px 0;
      padding: 5px; }
    .product-basket .promoCode a {
      color: #FFFFFF;
      background: #2D2D2D;
      padding: 7px 20px; }
      .product-basket .promoCode a:hover {
        text-decoration: none; }
  @media only screen and (max-width: 460px) {
    .product-basket h2 {
      font-size: 24px; }
    .product-basket ul {
      font-size: 15px; }
    .product-basket .delivery-price, .product-basket .total-price {
      font-size: 15px; }
    .product-basket .promoCode {
      font-size: 15px; } }

.review {
  padding-top: 50px;
  font-size: 15px; }
  .review figure {
    text-align: center;
    background: #EEEEEE; }
    .review figure img {
      width: 95%;
      height: auto; }
  .review .text-review {
    padding: 10px 30px; }
  @media only screen and (max-width: 460px) {
    .review .text-review {
      font-size: 14px;
      padding: 10px; } }

/******************************information-client************************************/
/************************************************************************************/
.information {
  padding-left: 0;
  padding-right: 0; }

.information-client {
  font-size: 18px;
  font-weight: 300; }
  .information-client label {
    font-weight: 300; }
    @media only screen and (max-width: 460px) {
      .information-client label {
        font-size: 16px; } }
  .information-client input {
    border: none;
    font-size: 16px;
    margin: 4px 0;
    padding: 5px; }
  .information-client address {
    margin-bottom: 10px; }
  .information-client .big-yellow-btn {
    padding: 10px 30px;
    font-size: 24px; }
  .information-client h2 {
    font-size: 24px;
    color: #EEEEEE;
    padding-left: 30px;
    position: relative; }
    .information-client h2 span {
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 15px;
      color: #2D2D2D;
      background: #EEEEEE;
      padding: 2px 5px;
      text-align: center; }
  .information-client .wrap-inputs {
    padding: 0; }
  .information-client .header-input {
    margin-bottom: 15px;
    font-weight: 400; }
    .information-client .header-input a {
      text-decoration: underline !important;
      color: inherit; }
    @media only screen and (max-width: 460px) {
      .information-client .header-input {
        font-size: 16px; } }
  .information-client .authentication label {
    display: block; }
  .information-client .authentication .lost-pass {
    font-size: 14px;
    color: #2D2D2D;
    text-decoration: underline !important; }
  .information-client .authentication .small-gray-btn {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 25px; }
  .information-client .label-small {
    font-size: 16px;
    display: block; }

.radio-custom-card:not(checked) {
  position: absolute;
  opacity: 0; }

.radio-custom-card:checked + label {
  border: none;
  background: #2889c2; }

.radio-custom-card-label {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px #2D2D2D;
  position: absolute;
  left: -30px; }

.wrap-custom-input {
  position: relative;
  margin-bottom: 5px; }
  .wrap-custom-input span {
    font-size: 13px;
    margin: 10px 0 30px; }
  .wrap-custom-input i {
    margin-right: 10px;
    width: 20px; }
  .wrap-custom-input b {
    font-size: 13px; }

.product-basket-small {
  margin-top: 5px; }
  .product-basket-small h2 {
    font-size: 24px;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #2D2D2D; }
  .product-basket-small .sum-total-price {
    background: #F79A1F;
    color: #FFFFFF;
    padding: 10px; }
    .product-basket-small .sum-total-price .info {
      font-size: 14px; }
    .product-basket-small .sum-total-price .price {
      font-size: 26px; }
  .product-basket-small .list-products {
    padding: 15px;
    border-left: solid 1px #2D2D2D;
    border-right: solid 1px #2D2D2D; }
    .product-basket-small .list-products li {
      font-size: 16px; }
      .product-basket-small .list-products li a {
        color: #2D2D2D; }
        .product-basket-small .list-products li a:hover {
          text-decoration: none; }
      .product-basket-small .list-products li span {
        float: left;
        width: 90%; }
        .product-basket-small .list-products li span:before {
          content: "\2022";
          margin-right: 5px; }
      .product-basket-small .list-products li .delete-pruduct {
        float: right;
        width: 10%;
        text-align: right; }

/***********custom checkbox**********/
.checkbox-custom:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox-custom:checked + label {
  position: relative; }
  .checkbox-custom:checked + label:before {
    color: #2889c2;
    content: "\2714";
    font-size: 36px;
    position: absolute;
    bottom: -12px;
    right: -12px; }

.checkbox-custom-label {
  width: 18px;
  height: 18px;
  border: solid 2px #2D2D2D; }

/***********************************/
/*****accordion-custom-styles****/
.information .panel-default > .panel-heading {
  background-color: #dcdcdc;
  border-radius: 0; }
  .information .panel-default > .panel-heading a {
    text-decoration: none;
    display: block; }
.information .panel-default > .panel-heading.open {
  background-color: #2D2D2D;
  border-radius: 0; }
  .information .panel-default > .panel-heading.open a {
    text-decoration: none;
    display: block; }
@media only screen and (max-width: 460px) {
  .information .panel-default > .panel-heading a {
    font-size: 19px;
    padding: 5px 0; } }
.information .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #EEEEEE;
  margin-top: 5px;
  padding: 10px 40px 10px 40px;
  border: none; }
.information .panel-group .panel {
  border: none;
  border-radius: 0;
  margin-top: 5px; }
  .information .panel-group .panel .facebook-block {
    text-align: center;
    border-top: solid 1px #8e9092;
    padding-top: 30px;
    margin-top: 30px;
    position: relative; }
    .information .panel-group .panel .facebook-block:before {
      content: "oppure";
      position: absolute;
      display: inline-block;
      text-align: center;
      padding: 10px 5px;
      top: 0%;
      left: 50%;
      margin-top: -23px;
      margin-left: -25px;
      background-color: #EEEEEE;
      z-index: 2; }

.facebook-btn {
  color: #FFFFFF;
  display: inline-block;
  border-top: solid 2px #7189bd;
  background: #4b6aab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4b6aab 0%, #325195 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4b6aab 0%, #325195 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4b6aab 0%, #325195 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6aab', endColorstr='#325195',GradientType=0 );
  /* IE6-9 */ }
  .facebook-btn:hover {
    text-decoration: none;
    color: #FFFFFF; }
  .facebook-btn i {
    padding: 15px 20px;
    border-right: solid 1px #365092; }
  .facebook-btn span {
    padding: 0 20px; }
  @media only screen and (max-width: 460px) {
    .facebook-btn i {
      padding: 15px 10px; }
    .facebook-btn span {
      padding: 0 5px;
      font-size: 15px; } }

/****************************************control-card********************************/
/************************************************************************************/
.control-card {
  font-weight: 300;
  font-size: 18px; }
  .control-card .wrap-table address {
    margin-bottom: 10px; }
  .control-card .wrap {
    padding: 10px;
    background: #EEEEEE;
    margin-bottom: 15px; }
  .control-card .wrap-table {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px; }
  .control-card h2 {
    color: #FFFFFF;
    background: #2D2D2D;
    font-size: 28px;
    margin-bottom: 10px;
    padding: 5px 15px; }
  .control-card .header-block {
    font-weight: 600;
    margin-bottom: 5px; }
  .control-card .name-product, .control-card .text-delivery, .control-card .text-total-price {
    width: 80%;
    float: left;
    margin: auto; }
    .control-card .name-product a, .control-card .text-delivery a, .control-card .text-total-price a {
      color: #2D2D2D; }
      .control-card .name-product a:hover, .control-card .text-delivery a:hover, .control-card .text-total-price a:hover {
        text-decoration: none; }
  .control-card .price, .control-card .price-delivery, .control-card .sum-total-price {
    width: 20%;
    float: right;
    text-align: right;
    font-weight: 400;
    margin: auto; }
  .control-card .list-product li {
    margin-bottom: 20px;
    display: flex; }
  .control-card .delivery-price, .control-card .total-price {
    margin-bottom: 20px; }
  .control-card .wrap-custom-input {
    font-size: 14px;
    text-align: right;
    margin: 10px 0 10px;
    font-weight: 300; }
    .control-card .wrap-custom-input label {
      font-weight: 300; }
    .control-card .wrap-custom-input .radio-custom-card-label {
      position: static; }
  @media only screen and (max-width: 460px) {
    .control-card .wrap {
      font-size: 15px; }
    .control-card .wrap-custom-input label {
      font-size: 13px; } }

/*******************************************add-discount*****************************/
/************************************************************************************/
.add-discount .wrap-add-discount {
  background: url("../img/logo-add-discount.png") no-repeat 2% 50%, #2488c4;
  margin-bottom: 10px;
  text-align: center;
  padding: 15px 15px 15px 100px;
  color: #FFFFFF; }
  .add-discount .wrap-add-discount h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .add-discount .wrap-add-discount p {
    font-weight: 300;
    font-size: 16px; }

/******************************************footer************************************/
/************************************************************************************/
.button-up {
  padding: 10px 0;
  background: #191919;
  color: #FFFFFF;
  font-weight: 300;
  cursor: pointer;
  font-size: 16px; }

footer {
  font-size: 24px;
  background: #2D2D2D;
  padding: 25px 0;
  color: #EEEEEE; }
  footer .footer-block {
    margin-bottom: 15px; }
  footer a {
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 5px;
    text-decoration: none; }
    footer a:visited, footer a:hover {
      color: #FFFFFF;
      text-decoration: none; }
  footer .social li {
    width: 25%;
    float: left;
    text-align: center; }
  footer .social .social-link {
    font-size: 20px;
    text-decoration: none;
    color: #EEEEEE;
    margin-right: 10px; }

@media only screen and (max-width: 460px) {
  footer {
    font-size: 18px; }
    footer .social .social-link {
      margin-right: 0px;
      font-size: 16px; } }
/*************************************popover****************************************/
/************************************************************************************/
#popover-condition .modal-header {
  border: none; }
  #popover-condition .modal-header h4 {
    font-weight: 400;
    font-size: 28px;
    padding: 0 10px; }
#popover-condition .modal-body ul {
  margin-bottom: 20px; }
#popover-condition .modal-body h5 {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 10px; }
#popover-condition .modal-body .wrap-img {
  margin-bottom: 15px; }
  #popover-condition .modal-body .wrap-img img {
    width: 100%;
    height: auto; }
#popover-condition .modal-body p {
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */
